[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
python-dotenv = "*"
numpy = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
requests = "*"
transformers = "*"
datasets = "*"
evaluate = "*"
rouge-score = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
